$vspace: 15px;
$hspace: 10px;

/***** Site Components ******/
$tan: 	#d7cec7;
$orange: #c09f80;
$red: #76323f;
$gray: #565656;
$titleFont: 'Comfortaa', cursive;
$defaultFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$webkit-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
$box-shadow: 10px 12px 24px -10px rgba(0, 0, 0, 0.175);
