@import 'setup/variables';


button {
  cursor: pointer;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 30px;
  background: 	#565656;
  color: white;
}

.topNav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  
}

.title{
  align-self: center;
  font-family: $titleFont;
  font-size: 2.8em;
}

.navList {
  display: flex;
  flex-direction: row;
  width: 58%;
  justify-content: space-between;
}

.navBtn {
color: $gray;
background-color: 	$tan;
border: 2px solid $orange;
border-radius: 5px;
font-size: .8em;
width: 100px;
padding: 10px 15px;
text-align: center;
outline-style: none;
transition: .2s ease;

&:hover {
  color: #fff;
}
}

main {
  display: flex;
  width: 100vw;
  justify-content: center;
  background: $tan;
}

.mainContainer {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 95%;
  min-height: 574px;
  max-height: 550px;
  display: flex;
  flex-direction: row;
}

.contentContainer {
  width: 100%;
  padding: 10px;
  overflow: scroll;
  background-color: #fff ;
  box-shadow: $box-shadow;
  border-radius: 5px;
  .ng-scope {
    width: 100%;
    height: 100%;
  }
}

.welcomeContainer {
  background-color: $orange;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  h1 {
    font-size: 1.5em;
    color: #fff;
  }
  .welcomeLogo {
    margin: 15px 0 10px 0;
    font-size: 4em;
    color: #fff;
    font-family: $titleFont;
  }
}

.homeMisson {
  width: 50%;
  float: left;
  margin: 10px;


h1 {
  text-align: center;
  font-size: 2em;
}
}


.loginContainer {
     width: 100%;
  p {
    font-size: 1.5em;
    color: #fff;
    padding-bottom: 10px;
  }

  button {
    color: #fff;
    background-color: #DB5149;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    padding: 8px 25px;
    align-self: center;
    text-align: center;
    outline-style: none;
    transition: .2s ease;

    &:hover {
      background-color: #e5857f;

    }
    }
}

@media only screen and (max-width: 1010px) {
   .homeMisson {
     width: 100%;
   }
}

@media only screen and (max-width: 749px) {

  header {
    padding: 10px 5px;
    height: 100px;
  }

  main {
   width: 100%;

   .mainContainer {
     margin-top: 0;
     width: 100%;
   }
  }


  .topNav {
    flex-direction: column;
    align-items: center;

    .navList {
      width: 100%;
      .navBtn {
        font-size: 1em;
        padding: 2px;
        width: 100px;
        &:hover {
          color: $gray;
        }
      }
    }
    .title {
      font-size: 2em;
      margin-bottom: 10px;
    }
  }

  .welcomeContainer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .welcomeLogo {
      font-size: 3em;
    }
  }

  .loginContainer {
    display: flex;
    justify-content: center;
    button {
      font-size: .8em;
    }
  }

  .homeMisson {
    display: none;
  }
}
