@import 'setup/variables';


header {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 30px;
  background: 	#565656;
  color: white;
  nav {
    li {
      cursor: pointer;
    }
  }
}
.topNav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.title{
  align-self: center;
  font-family: $titleFont;
  font-size: 2.8em;
}

.navList {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
}

.navBtn {
color: $gray;
background-color: 	$tan;
border: 2px solid $orange;
border-radius: 5px;
font-size: .8em;
width: 100px;
padding: 10px 15px;
text-align: center;
outline-style: none;
transition: .2s ease;

&:hover {
  color: #fff;
}
}

main {
  display: flex;
  width: 100vw;
  justify-content: center;
  background: $tan;
}

.mainContainer {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 95%;
  min-height: 574px;
  max-height: 550px;
  display: flex;
  flex-direction: row;
}

.welcomeContainer {
  background-color: $orange;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  h1 {
    font-size: 1.5em;
    color: #fff;
  }
  .welcomeLogo {
    margin: 15px 0 10px 0;
    font-size: 4em;
    color: #fff;
    font-family: $titleFont;
  }
}

.searchLoginContainer {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  form {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    label {
      font-size: 1.5em;
      color: $gray;
    }
  }
}
   .searchContainer {
     li {
       float: left;
       padding: 10px 0;
     }
    button {
      color: #fff;
      background-color: 	$gray;
      border: none;
      border-radius: $mainRadius;
      font-size: .8em;
      width: 100px;
      padding: 8px;
      text-align: center;
      outline-style: none;
      transition: .2s ease;

      &:hover {
        background-color: #777777;
      }
      }
      input {
        font-size: 1.2em;
        border: 2px solid $gray;
        height: 30px;
        margin-right: 10px;
      }
    }

        .loginContainer {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 40%;

          p {
            font-size: 1.5em;
            color: $gray;
            padding-bottom: 10px;
          }

          button {
            color: #fff;
            background-color: #DB5149;
            border: none;
            border-radius: 15px;
            font-size: 1em;
            width: 200px;
            padding: 8px;
            text-align: center;
            outline-style: none;
            transition: .2s ease;

            &:hover {
              background-color: #777777;
            }
            }
        }




.container {
  width: 85%;
  padding: 25px;
  overflow: scroll;
  background-color: #fff ;
  box-shadow: $box-shadow;
  border-radius: 5px;
  .ng-scope {
    width: 100%;
    height: 100%;
  }
}

.loadingDiv {
  font-family: $titleFont;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  top: 300px;
  left: 25%;
  width: 50%;
  color: #fff;
  position: absolute;
  padding: 30px 0;
  -moz-opacity: 0.8;
  opacity: 0.8;
  background-color: $red;


  p {
    font-size: 3.5em;
  }
}


@media only screen and (max-width: 749px) {

  header {
    padding: 10px 5px;
    height: 110px;
  }

  main {
   width: 100%;

   .mainContainer {
     margin-top: 10px;
     width: 100%;
   }
  }


  .topNav{
    flex-direction: column;
    align-items: center;


    .navList {
      width: 90%;
      .navBtn {
        font-size: 1.2em;
        padding: 10px 5px;
        width: 100px;
        &:hover {
          color: $gray;
        }
      }
    }
    .title {
      font-size: 2em;
      margin-bottom: 10px;
    }
  }
}

.welcomeContainer {

.welcomeLogo {
  font-size: 3em;
}
}

.container {
  width: 100%;
  padding: 10px;

}
