@import 'setup/variables';


button {
  cursor: pointer;
}



header {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 30px;
  background: 	#565656;
  color: white;
  position: fixed;
}

.topNav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

}

.title{
  align-self: center;
  font-family: $titleFont;
  font-size: 2.8em;
  width: 20%;

  .headerLogo {
    width: 100%;
    height: 50px;
  }
}

.navList {
  display: flex;
  flex-direction: row;
  width: 58%;
  justify-content: space-between;
}

.navBtn {
color: $gray;
background-color: 	$tan;
border: 2px solid $orange;
border-radius: 5px;
font-size: .8em;
width: 100px;
padding: 10px 15px;
text-align: center;
outline-style: none;
transition: .2s ease;

&:hover {
  color: #fff;
}
}

main {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  background: $tan;
}

.mainContainer {
  margin-top: 100px;
  width: 95%;
  min-height: 574px;
  display: flex;
  flex-direction: row;
}

.contentContainer {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  overflow: scroll;
  background-color: #fff ;
  box-shadow: $box-shadow;
  $webkit-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 5px;
  .ng-scope {
    width: 100%;
    height: 100%;
  }
}

.welcomeContainer {
  background-color: $orange;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 80px -27px #fff;
-webkit-box-shadow: inset 0px 0px 80px -27px #fff;
-moz-box-shadow: inset 0px 0px 80px -27px #fff;
-o-box-shadow: inset 0px 0px 80px -27px #fff;


  h1 {
    font-size: 1.5em;
    color: #fff;
  }
  .welcomeLogo {
    margin: 15px 0 5px 0;
    width:35%;
  }
}

.homeInstructions {
  width: 50%;
  float: left;
  margin: 10px;

  i {
    color: #c1e2e7;
  }

h1 {
  border-radius: $mainRadius;
  text-align: center;
  font-size: 1.8em;
  color: #fff;
  font-family: $titleFont;
  padding: 5px 0 5px 0;
  //border-bottom: 5px solid #c1e2e7;
  background-color: #9f9f9f
;
}
p {
  text-align: center;
  padding: 10px;
  font-size: 1.4em;

}
}

.testDiv {
  width: 100%;
  border: 2px solid red;
}

.mobileInstructions {
  margin-top: 15px;
  display: none;
  width: 100%;
  text-align: center;

  i {
    color: #c1e2e7;
  }

h1 {
  border-radius: $mainRadius;
  text-align: center;
  font-size: 1.8em;
  color: #fff;
  font-family: $titleFont;
  padding: 5px 0 5px 0;
  //border-bottom: 5px solid #c1e2e7;
  background-color: #9f9f9f
}
P {
    padding: 10px;
}
}

.homeMission {
  width: 80%;
  float: left;
  margin: 10px;
  margin-left: 10%;

  i {
    color: #c1e2e7;
  }

h1 {
  border-radius: $mainRadius;
  text-align: center;
  font-size: 1.8em;
  color: $gray;
  font-family: $titleFont;
  padding: 15px 0 15px 0;
  border: 2px solid $red;
  background-color: #fff
;
}
p {
  text-align: center;
  padding: 10px;
  font-size: 1.4em;

}
}




.loginContainer {
     width: 100%;
  p {
    font-size: 1.5em;
    color: #fff;
    padding-bottom: 10px;
  }
}

.googleSignIn {
  color: #fff;
  background-color: #DB5149;
  border: none;
  border-radius: 15px;
  font-size: 1em;
  padding: 8px 25px;
  align-self: center;
  text-align: center;
  outline-style: none;
  transition: .2s ease;

  &:hover {
    background-color: #e5857f;

  }
  }

@media only screen and (max-width: 1010px) {
   .homeInstructions {
     width: 100%;
     float: none;
     margin: 10px 0;
   }
}

@media only screen and (max-width: 768px) {
.topNav {
  .title {
    width: 40%;
  }
}
}

@media only screen and (max-width: 749px) {

  header {
    padding: 10px 5px;
    height: 100px;
  }

  main {
   width: 100%;
}

   .mainContainer {
     //margin-top: 0;
     width: 100%;
   }



  .topNav {
    flex-direction: column;
    align-items: center;

    .navList {
      width: 100%;
      .navBtn {
        font-size: 1em;
        padding: 2px;
        width: 100px;
        &:hover {
          color: $gray;
        }
      }
    }
    .title {
      width: 75%;
    }
  }

  .welcomeContainer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .welcomeLogo {
      font-size: 3em;
    }
  }

  .loginContainer {
    display: flex;
    justify-content: center;
  }

  .googleSignIn {
    font-size: .8em;
  }

  .homeInstructions {
    display: none;
  }

  .homeMission {
    width: 100%;
    float: none;
    margin-left: 0;
  }

  .mobileInstructions {
    display: inherit;

  }
}

@media only screen and (max-width: 668px) {
.topNav {
  .title {
    width: 50%;
  }
}
}
