@import 'setup/variables';

.subMenuContainer {
  float: right;
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 220px;
  background-color: #fff;
  border-radius: $mainRadius;
  box-shadow: $box-shadow;
  $webkit-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  margin: 10px;

.tabList {
   align-self: flex-end;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   background-color: $tan;

 .tabItem {
   text-align: center;
   font-size: 1.2em;
   padding: 10px 0 10px 0;
   border-bottom: 5px solid $tan;
   color: $gray;
   transition: .3s ease;
   cursor: pointer;

   &:hover {
     color:  #888888;

   }
}
   li.active {
  border-bottom: 5px solid #c1e2e7;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  label {
    padding: 15px 0 5px 0;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    color: $gray;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  input {
    padding: 0 0 0 8px;
  }
}

   .searchContainer {
     width: 100%;
     li {
       padding: 10px 0;
     }
    button {
      color: #fff;
      background-color: 	$gray;
      border: none;
      border-radius: $mainRadius;
      font-size: .8em;
      width: 100px;
      padding: 8px;
      text-align: center;
      outline-style: none;
      transition: .2s ease;

      &:hover {
        background-color: #777777;
      }
      }
      input, select {
        font-size: 1em;
        border-radius: $mainRadius;
        border: 2px solid $gray;
        height: 30px;
        margin-right: 10px;
        outline-color:  #c1e2e7;
      }
    }
}

.loadingDiv {
  font-family: $titleFont;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  top: 300px;
  left: 25%;
  width: 50%;
  color: #fff;
  position: absolute;
  padding: 30px 0;
  -moz-opacity: 0.9;
  opacity: 0.9;
  background-color: $gray;


  p {
    font-size: 3em;
  }
}

.pageButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;

  p {
    padding: 0 10px;
  }

  .fwdRwd {
    margin: 0 5px;
    width:30px;
  }

  button {
    color: $red;
    border: 2px solid $red;
    background-color: #fff;
    border-radius: $mainRadius;
    font-size: .8em;
    width: 80px;
    padding: 8px;
    text-align: center;
    outline-style: none;
    transition: .2s ease;

    &:hover {
      color:  #c1e2e7;
      border: 2px solid  #c1e2e7;
    }
    }
}

.nameSearchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;


  .nameResult {
    color: $gray;
    width: 23%;
    margin: 5px 5px 8px 5px;
    background-color: #fff;
    border-radius: $mainRadius;

    i {
      color: $red;
    }


    button {
      width: 100%;
      margin: 0;
      border: 2px solid #e4d6c9;
      border-radius: $mainRadius;
      background-color: #e4d6c9;
      color: $gray;
      font-size: 1.2em;
      transition: .3s ease;

      &:hover {
         background-color: #f4eee9;
         border: 2px solid #c1dad6;
        color: $gray;
      }
    }

    .nameContent {
      width: 100%;
      padding: 5px;

      i {
        color: $red;
      }
      .npiIcon {
        padding-top: 10px;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1010px) {
  .subMenuContainer {
    width: 100%;
    height: auto;
    float: none;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 749px) {

  .searchLoginContainer {
    form {
      width: 100%
    }
  }

  .subMenuContainer {
    margin-top: 0;



    form {
      font-size: .8em;
      flex-direction: row;
      flex-wrap: wrap;
    }
  .searchContainer {
    li {
    input {
      font-size: 1em;
    }
    }
  }
  .tabList {
  .tabItem {
    &:hover {
      color: $gray;
    }
  }
}
}

.nameSearchContainer {
  justify-content: space-between;

  .nameResult {
    width: 100%;
  }
}

.loadingDiv {
  width: 90%;
  left:5%;
}

}
