@import 'setup/variables';

.searchLoginContainer {
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  form {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    label {
      width: 100%;
      text-align: left;
      font-size: 1.5em;
      color: $gray;
    }
  }
}
   .searchContainer {
     width: 100%;
     li {
       //float: left;
       padding: 10px 0;
     }
    button {
      color: #fff;
      background-color: 	$gray;
      border: none;
      border-radius: $mainRadius;
      font-size: .8em;
      width: 100px;
      padding: 8px;
      text-align: center;
      outline-style: none;
      transition: .2s ease;

      &:hover {
        background-color: #777777;
      }
      }
      input {
        font-size: 1.2em;
        border: 2px solid $gray;
        height: 30px;
        margin-right: 10px;
        outline-color:  #c1e2e7;
      }
    }

.loadingDiv {
  font-family: $titleFont;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  top: 300px;
  left: 25%;
  width: 50%;
  color: #fff;
  position: absolute;
  padding: 30px 0;
  -moz-opacity: 0.9;
  opacity: 0.9;
  background-color: $gray;


  p {
    font-size: 3.5em;
  }
}

.nameSearchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;


  .nameResult {
    color: $gray;
    width: 23%;
    margin: 5px;
    background-color: #fff;
    border-radius: $mainRadius;


    button {
      width: 100%;
      margin: 0;
      border: 2px solid #e4d6c9;
      border-radius: $mainRadius;
      background-color: #e4d6c9;
      color: $gray;
      font-size: 1.2em;
      transition: .3s ease;

      &:hover {
         background-color: #c1dad6; //$orange;
         border: 2px solid #c1dad6; //$orange;
        color: $gray;
      }
    }

    .nameContent {
      width: 100%;
      padding: 5px;

      i {
        color: $red;
      }
      .phoneIcon {
        padding-top: 10px;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 749px) {

  .searchLoginContainer {
    form {
      width: 100%
    }
  }

.nameSearchContainer {
  justify-content: space-between;

  .nameResult {
    width: 100%;
  }
}

.loadingDiv {
  width: 90%;
}

}
