@import 'setup/variables';

.titleContainer {
  width: 50%;
  float: left;
  margin: 0 0 0 20px;
  color: $gray;
  border: 2px solid $orange;
  border-bottom: none;
  border-radius: $mainRadius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 15px;

  h1 {
    font-size: 2em;
    margin-bottom: 10px;
    width:90%;
  }
  i {
    color: $red;
  }
  .titleAddress {
    margin-bottom: 5px;
  }
  h3 {
    margin-left: 10px;
  }
}

.editBtn, .saveBtn {
  float: right;
  font-size: .8em;
  color: #fff;
  background-color: $red;
  border: 2px solid $red;
  border-radius: 5px;
  margin-bottom: 5px;
  //width: 100px;
  padding: 10px 20px;
  text-align: center;
  transition: .2s ease;

  i {
    color: #fff;
  }

  &:hover {
    background-color: #915a65;
    border: 2px solid #915a65;
  }
}

section {
  padding: 10px;
  .sectionTitle {
    //border: 2px solid $orange;
    border-radius: $mainRadius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    font-size: 1.8em;
    color: #fff;
    font-family: $titleFont;
    padding: 5px 0 5px 0;
    background-color: $orange;
    box-shadow: $box-shadow;
    $webkit-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: inset 0px 0px 80px -27px #fff;
  -webkit-box-shadow: inset 0px 0px 80px -27px #fff;
  -moz-box-shadow: inset 0px 0px 80px -27px #fff;
  -o-box-shadow: inset 0px 0px 80px -27px #fff;

  }
  form {
    padding: 10px;
  }
  fieldset {
    margin: 10px 0 20px 0;
    padding: 10px;
    border: 2px solid $orange;
    border-radius: 5px;
    legend {
      color: $gray;
      font-size: 1.5em;
    }
  }
}

.sectionName {
  font-size: 1em;
  text-decoration: underline;
}

.formField {
  margin: 10px;
  width: 100%;
}

.baseSection, .addressesSection, .taxonomiesSection, .licensesSection, .affiliationsSection, .specialtiesSection, .notesSection, .submitSection, .editSection {
  height: 95%;

  .sectionInfo {
    margin: 0 0 10px 20px;
    width: 50%;
    float: left;
    i {
      color: $red;
      display: inline;
    }
    h2 {
      color: $gray;
      font-size: 1.3em;
      padding: 5px;
      border-bottom: 2px solid $red;
      margin-top: 8px;
      margin-bottom: 5px;
      font-family: $titleFont;
    }
    h3 {
      border-bottom: 2px solid $blue;
      color: $gray;
      margin: 15px 0 8px 0;
      padding: 3px;
      font-size: 1.3em;
      width: 80%;
    }
    p {
      line-height: 20px;
      padding-left: 10px;
    }
  }
    .pecosHeader {
      margin-top: 20px;
    }

  .resultInfo {
    line-height: 24px;
  }
}

.submitSection {
  .signInOutContainer, .submitBtnContainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    button {
      width: 30%;
      height: 50px;
      font-size: 30px;
    }
  }
}

.submitSignIn {
  color: #fff;
  background-color: #DB5149;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  padding: 8px 25px;
  text-align: center;
  outline-style: none;
  transition: .2s ease;

  &:hover {
    background-color: #e5857f;

  }
  }



@media only screen and (max-width: 1010px) {

.baseSection, .addressesSection, .taxonomiesSection, .licensesSection, .affiliationsSection, .specialtiesSection, .notesSection, .submitSection, .editSection {
  width: 100%;
  padding: 0;

  .sectionInfo, .sectionInfo {
    margin: 0;
    width: 100%;
  }
}

section {
.sectionTitle {
  width: 100%;
  margin: 0;
}
}

.titleContainer {
  width: 100%;
  margin: 0;
}
}
