/****** Vendor Imports ******/
@import 'partials/vendor/bourbon/bourbon';

/********** Setup ***********/
@import 'partials/setup/variables';
@import 'partials/setup/reset';
@import 'partials/setup/fonts';
@import 'partials/setup/general';

/***** Site Components ******/
$blue: #085fa1;
$defaultFont: "Helvetica Neue", Helvetica, Arial, sans-serif;

* {
  font-family: $defaultFont;
}

button {
  padding: 5px;
  cursor: pointer;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: $blue;
  color: white;
  nav {
    li {
      cursor: pointer;
    }
  }
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 100px;
}

.searchFieldsContainer {
  form {
    height: 25px;
    .searchField {
      margin: 0 10px;
      padding: 5px;
      height: 100%;
    }
    button {
      padding: 5px;
      height: 100%;
    }
  }
}

.leftNav {
  width: 15%;
  button {
    overflow: hidden;
    text-align: left;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    background: white;
    border: 2px solid black;
    outline-style: none;
  }
}

.container {
  width: 75%;
  height: 100vh;
  border: 2px solid black;
  padding: 20px;
  overflow: scroll;
  .ng-scope {
    width: 100%;
    height: 100%;
  }
}

section {
  padding: 10px;
  .sectionTitle {
    text-align: center;
    font-size: 20px;
  }
  form {
    padding: 10px;
  }
  fieldset {
    margin: 10px 0 20px 0;
    padding: 10px;
    border: 1px solid black;
    legend {
      font-weight: bold;
    }
  }
}

.formField {
  margin: 10px;
  width: 100%;
}

.baseSection, .addressesSection, .taxonomiesSection, .licensesSection, .affiliationsSection, .specialtiesSection {
  position: relative;
  .sectionInfo {
    padding: 10px;
    li {
      margin: 10px;
    }
    h1 {
      margin-bottom: 10px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .baseInfo {
    padding: 20px;
    .pecosHeader {
      margin-top: 20px;
    }
  }
}

.submitSection {
  .signInOutContainer, .submitBtnContainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    button {
      width: 30%;
      height: 50px;
      font-size: 30px;
    }
  }
}

.editBtn, .saveBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}
