/****** Vendor Imports ******/
@import 'partials/vendor/bourbon/bourbon';

/********** Setup ***********/
@import 'partials/setup/variables';
@import 'partials/setup/reset';
@import 'partials/setup/fonts';
@import 'partials/setup/general';

/***** Site Components ******/
$blue: #085fa1;
$defaultFont: "Helvetica Neue", Helvetica, Arial, sans-serif;

* {
  font-family: $defaultFont;
}

button {
  cursor: pointer;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: $blue;
  color: white;
  nav {
    li {
      cursor: pointer;
    }
  }
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 100px;
}

.leftNav {
  width: 15%;
  button {
    overflow: hidden;
    text-align: left;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    background: white;
    border: 2px solid black;
    outline-style: none;
  }
}

.container {
  width: 75%;
  height: 800px;
  border: 2px solid black;
  padding: 20px;
  .ng-scope {
    width: 100%;
    height: 100%;
  }
}

section {
  padding: 10px;
  .sectionTitle {
    text-align: center;
    font-size: 20px;
  }
}

.baseSection {
  .baseInfo {
    padding: 10px;
    p {
      margin: 10px;
    }
  }
}

.submitSection {
  .signInOutContainer, .submitBtnContainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    button {
      width: 30%;
      height: 50px;
      font-size: 30px;
    }
  }
}
