<section ng-show="home.resultFound" class="addressesSection">
  <div class="titleContainer">
    <!-- <button ng-show="home.editing !== 'addresses'" ng-click="home.editing = 'addresses'" class="editBtn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbspEDIT</button>
    <button ng-show="home.editing === 'addresses'" ng-click="home.editing = null" class="saveBtn"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbspSAVE</button> -->
  <h1>{{home.result.title}}<h1>
  <h3><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp{{home.result.addresses[0].address_1}}<h3>
  <h3 class="titleAddress">&nbsp &nbsp{{home.result.addresses[0].city}}, {{home.result.addresses[0].state}}<h3>
  <h3 class="titleNpi"><i class="fa fa-crosshairs" aria-hidden="true"></i>&nbspNPI: {{home.result.number}}<h3>
    <ul class="links">
      <li>
  <a  href="https://nppes.cms.hhs.gov/NPPES/Welcome.do" target=”_blank”>Edit NPPES</a><br>
</li>
<li>
  <a  href="https://pecos.cms.hhs.gov/pecos/login.do#headingLv1" target=”_blank”>Edit PECOS</a>
</li>
</ul>
  </div>
  <div ng-show="home.editing !== 'addresses'" class="addressesInfo sectionInfo">
    <h1 class="sectionTitle">- Addresses -</h1>
    <ul>
      <li ng-repeat="address in home.result.addresses">
        <!-- <h2><i class="fa fa-map-pin" aria-hidden="true"></i>&nbspAddress #{{home.result.addresses.indexOf(address) + 1}}</h2> -->
        <h2 ng-show="address.address_purpose"><i ng-if="address.address_purpose == 'LOCATION' " class="fa fa-building-o" aria-hidden="true"></i><i ng-if="address.address_purpose == 'MAILING' " class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp{{address.address_purpose}}</h2>
        <p ng-show="address.address_1">Street 1: {{address.address_1}}</p>
        <p ng-show="address.address_2">Street 2: {{address.address_2}}</p>
        <p ng-show="address.city">City: {{address.city}}</p>
        <p ng-show="address.state">State: {{address.state}}</p>
        <p ng-show="address.country_code">Country: {{address.country_code}}</p>
        <p ng-show="address.zip">Zipcode: {{address.zip}}</p>
        <p ng-show="address.us_telephone_number">Telephone: {{address.us_telephone_number}}</p>
        <p ng-show="address.us_fax_number">Fax: {{address.us_fax_number}}</p>
      </li>
    </ul>
  </div>
  <form ng-show="home.editing === 'addresses'">
    <fieldset ng-repeat="address in home.result.addresses">
      <legend>Address {{home.result.addresses.indexOf(address) + 1}}</legend>
      <p ng-show="address.address_purpose">Purpose: {{address.address_purpose}}</p>
      <p ng-show="address.address_1">Street 1: {{address.address_1}}</p>
      <p ng-show="address.address_2">Street 2: {{address.address_2}}</p>
      <p ng-show="address.city">City: {{address.city}}</p>
      <p ng-show="address.state">State: {{address.state}}</p>
      <p ng-show="address.country_code">Country: {{address.country_code}}</p>
      <p ng-show="address.zip">Zipcode: {{address.zip}}</p>
      <p ng-show="address.us_telephone_number">Telephone: {{address.us_telephone_number}}</p>
      <p ng-show="address.us_fax_number">Fax: {{address.us_fax_number}}</p>
    </fieldset>
  </form>
</section>
