<section class="addressesSection">
  <button ng-show="home.editing !== 'addresses'" ng-click="home.editing = 'addresses'" class="editBtn">EDIT</button>
  <button ng-show="home.editing === 'addresses'" ng-click="home.editing = null" class="saveBtn">SAVE</button>
  <h1 class="sectionTitle">Addresses</h1>
  <div ng-show="home.editing !== 'addresses'" class="addressesInfo sectionInfo">
    <ul>
      <li ng-repeat="address in home.result.addresses">
        <h1>Address {{home.result.addresses.indexOf(address) + 1}}</h1>
        <p>Purpose: {{address.address_purpose}}</p>
        <p>Street 1: {{address.address_1}}</p>
        <p>Street 2: {{address.address_2}}</p>
        <p>City: {{address.city}}</p>
        <p>State: {{address.state}}</p>
        <p>Country: {{address.country_code}}</p>
        <p>Zipcode: {{address.zip}}</p>
        <p>Telephone: {{address.us_telephone_number}}</p>
        <p>Fax: {{address.us_fax_number}}</p>
      </li>
    </ul>
  </div>
  <form ng-show="home.editing === 'addresses'">
    <fieldset>
      <legend>Address Info</legend>
    </fieldset>
  </form>
</section>
