<section ng-show="home.resultFound" class="affiliationsSection">
  <div class="titleContainer">
    <button ng-show="home.editing !== 'affiliations'" ng-click="home.editing = 'affiliations'" class="editBtn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbspEDIT</button>
    <button ng-show="home.editing === 'affiliations'" ng-click="home.submitActive()" class="saveBtn"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbspSAVE</button>
  <h1>{{home.result.title}}<h1>
  <h3><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp{{home.result.addresses[0].address_1}}<h3>
  <h3 class="titleAddress">&nbsp &nbsp{{home.result.addresses[0].city}}, {{home.result.addresses[0].state}}<h3>
  <h3 class="titleNpi"><i class="fa fa-crosshairs" aria-hidden="true"></i>&nbspNPI: {{home.result.number}}<h3>
  </div>
  <div ng-show="home.reminderPopup" class="loadingDiv">
      <p>Don't forget to submit!</p>
  </div>
  <div ng-show="home.editing !== 'affiliations'" class="affiliationsInfo sectionInfo">
      <h1 class="sectionTitle">- Affiliations -</h1>
    <ul>
      <p ng-show="!home.result.reassignments">No Known Affiliations</p>
      <li ng-show="home.result.reassignments" ng-repeat="affiliation in home.result.reassignments">
        <h2> <i class="fa fa-hospital-o" aria-hidden="true"></i>&nbspAFFILIATION #{{home.result.reassignments.indexOf(affiliation) + 1}}</h2>
        <h3>Meta</h3>
        <p>Nickname: {{affiliation.nickname ? affiliation.nickname : "None"}}</p>
        <p ng-show="affiliation.type">Type: {{affiliation.type}}</p>
        <p>Accepting New Patients: {{affiliation.acceptingNew ? "Yes" : "No"}}</p>
        <h3>Affiliation</h3>
        <p ng-show="affiliation.reassigned_to.name">Name: {{affiliation.reassigned_to.name}}</p>
        <p ng-show="affiliation.reassigned_to.npi">NPI: {{affiliation.reassigned_to.npi}}</p>
        <p ng-show="affiliation.reassigned_to.pecos_id">PECOS ID: {{affiliation.reassigned_to.pecos_id}}</p>
        <p ng-show="affiliation.assignee.name">Name: {{affiliation.assignee.name}}</p>
        <p ng-show="affiliation.assignee.npi">NPI: {{affiliation.assignee.npi}}</p>
        <p ng-show="affiliation.assignee.pecos_id">PECOS ID: {{affiliation.assignee.pecos_id}}</p>
        <h3>Endpoints</h3>
        <p ng-repeat="endpoint in affiliation.endpoints"><span>{{endpoint.type}}</span>: <span>{{endpoint.value}}</span></p>
        <p ng-show="!affiliation.endpoints">No Endpoints Found</p>
      </li>
    </ul>
  </div>
  <div class="editSection sectionInfo">
    <h1 ng-show="home.editing === 'affiliations'" class="sectionTitle">- Affiliations Edit -</h1>
  <form ng-show="home.editing === 'affiliations'">
    <fieldset ng-repeat="affiliation in home.result.reassignments">
      <legend>Affiliation {{home.result.reassignments.indexOf(affiliation) + 1}}</legend>
      <fieldset>
        <legend>Meta</legend>
        <div class="formField">
          <label>Nickname: </label>
          <input type="text" ng-model="affiliation.nickname">
        </div>
        <div class="formField">
          <label>Type: </label>
          <select ng-init="affiliation.type = affiliations.affiliationTypes[0]" ng-model="affiliation.type" ng-options="option for option in affiliations.affiliationTypes">
          </select>
        </div>
        <div class="formField">
          <span>Accepting New Patients:</span>
          <input name="{{affiliation.reassigned_to.npi}}" type="radio" ng-model="affiliation.acceptingNew" value="Yes">
          <label>Yes</label>
          <input name="{{affiliation.reassigned_to.npi}}" type="radio" ng-model="affiliation.acceptingNew" value="No">
          <label>No</label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Affiliation</legend>
        <p ng-show="affiliation.reassigned_to.name">Name: {{affiliation.reassigned_to.name}}</p>
        <p ng-show="affiliation.reassigned_to.npi">NPI: {{affiliation.reassigned_to.npi}}</p>
        <p ng-show="affiliation.reassigned_to.pecos_id">PECOS ID: {{affiliation.reassigned_to.pecos_id}}</p>
        <p ng-show="affiliation.assignee.name">Name: {{affiliation.assignee.name}}</p>
        <p ng-show="affiliation.assignee.npi">NPI: {{affiliation.assignee.npi}}</p>
        <p ng-show="affiliation.assignee.pecos_id">PECOS ID: {{affiliation.assignee.pecos_id}}</p>
        <div class="formField">
          <label>New NPI (will replace current affiliation): </label>
          <input type="text" ng-model="affiliation.newNpi">
        </div>
        <div class="preview" ng-show="affiliation.newNpi">
          <p>This preview will show the new affiliation information</p>
        </div>
      </fieldset>
      <fieldset>
        <legend>Endpoints</legend>
        <ul class="endpoints">
          <li ng-repeat="endpoint in affiliation.endpoints"><span>{{endpoint.type}}</span>: <span>{{endpoint.value}}</span></li>
        </ul>
        <div class="formField">
          <label>Type: </label>
          <select ng-init="affiliation.newEndpoint.type = affiliations.endpointTypes[0]" ng-options="option for option in affiliations.endpointTypes" ng-model="affiliation.newEndpoint.type">
          </select>
          <label>Endpoint: </label>
          <input type="text" ng-model="affiliation.newEndpoint.value">
          <button class="addEndpointBtn" ng-click="affiliations.addEndpoint(affiliation)">Add Endpoint</button>
        </div>
      </fieldset>
    </fieldset>
  </form>
</div>
</section>
