<section class="baseSection">
  <h1 class="sectionTitle">Base</h1>
  <div class="baseInfo">
    <p class="resultInfo">Title: {{home.result.title}}</p>
    <p class="resultInfo">NPI ID: {{home.result.npiId}}</p>
    <p class="resultInfo">Gender: {{home.result.gender}}</p>
    <p class="resultInfo">Prefix: {{home.result.prefix}}</p>
    <p class="resultInfo">First Name: {{home.result.firstName}}</p>
    <p class="resultInfo">Last Name: {{home.result.lastName}}</p>
    <p class="resultInfo">Credential: {{home.result.credential}}</p>
    <p class="resultInfo">Status: {{home.result.status}}</p>
    <p class="resultInfo">Sole Proprietor: {{home.result.soleProp}}</p>
    <p class="resultInfo">Last Updated: {{home.result.lastUpdated}}</p>
  </div>
</section>
