<header>
    <nav class="topNav">
        <div class="title">
            <p>- Doc<i class="fa fa-user-md" aria-hidden="true"></i>Dish -</p>
        </div>
        <ul class="navList">
            <li>
                <button class="navBtn mobileMenu" ng-click="home.mobileNav()">MENU</button>
            </li>
            <li>
                <button class="navBtn" ng-click="home.resultFound=false" ui-sref="home"><i class="fa fa-home" aria-hidden="true"></i>&nbspHOME</button>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="mainContainer">
        <div ng-show="home.resultFound" id="navId" class="leftNav">
            <button ui-sref="home.base" ui-sref-active="active" ng-click="home.mobileNav()" class="baseBtn leftNavBtn">Base</button>
            <button ui-sref="home.affiliations" ui-sref-active="active" ng-click="home.mobileNav()" class="affiliationsBtn leftNavBtn">Affiliations</button>
            <button ui-sref="home.addresses" ui-sref-active="active" ng-click="home.mobileNav()" class="addressesBtn leftNavBtn">Addresses</button>
            <button ui-sref="home.specialties" ui-sref-active="active" ng-click="home.mobileNav()" class="specialtiesBtn leftNavBtn">Specialties</button>
            <button ui-sref="home.taxonomies" ui-sref-active="active" ng-click="home.mobileNav()" class="taxonomiesBtn leftNavBtn">Taxonomies</button>
            <button ui-sref="home.licenses" ui-sref-active="active" ng-click="home.mobileNav()" class="licensesBtn leftNavBtn">Licenses</button>
            <button ui-sref="home.notes" ui-sref-active="active" ng-click="home.mobileNav()" class="notesBtn leftNavBtn">Notes</button>
            <button ui-sref="home.submit" ui-sref-active="active" ng-click="home.mobileNav()" id="submitBtn" class="leftNavBtn">Submit</button>
        </div>
        <div class="container">
            <div ng-show="!home.resultFound" class="welcomeContainer">
                <h1>Welcome to </h1>
                <p class="welcomeLogo">- Doc<i class="fa fa-user-md" aria-hidden="true"></i>Dish -</p>
            </div>
            <div ng-show="!home.resultFound" class="searchLoginContainer">
                <form ng-submit="home.runSearch()">
                    <label for="NPI Search">Search for provider by NPI:</label>
                    <ul class="searchContainer">
                        <li>
                            <input type="text" ng-model="home.npi" placeholder="NPI">
                        </li>
                        <li>
                            <button>Search</button>
                        </li>
                    </ul>
                </form>
                <ul class="loginContainer">
                  <li>
                      <p>Please login to edit information</p>
                  </li>
                  <li>
                    <button ng-show="!submit.signedIn" ng-click="signIn()" class="googleSignIn"><i class="fa fa-google" aria-hidden="true"></i>&nbsp google sign in</button>
                    <button ng-show="submit.signedIn" ng-click="submit.signOut()" class="signOutBtn">Sign Out</button>
                  </li>
                </ul>
            </div>
            <!-- <div ng-show="!submit.signedIn" class="loginHome">
              <ul class="loginList">
                <li>
                    <p>Please login to edit information</p>
                </li>
                <li>
                  <button ng-show="!submit.signedIn" ng-click="signIn()" class="googleSignIn"><i class="fa fa-google" aria-hidden="true"></i>&nbsp google sign in</button>
                  <button ng-show="submit.signedIn" ng-click="submit.signOut()" class="signOutBtn">Sign Out</button>
                </li>
              </ul>
            </div> -->
            <ui-view></ui-view>
        </div>
    </div>
</main>
