<header>
    <nav class="topNav">
        <div class="title">
            <p>- Doc<i class="fa fa-user-md" aria-hidden="true"></i>Dish -</p>
        </div>
        <ul class="navList">
            <li>
                <button class="navBtn mobileMenu" ng-click="home.mobileNav()">MENU</button>
            </li>
            <li class="loginContainer">
                <button ng-show="!submit.signedIn" ng-click="signIn()" class="googleSignIn"><i class="fa fa-google" aria-hidden="true"></i>&nbsp&nbspLogin to Edit</button>
                <button ng-show="submit.signedIn" ng-click="submit.signOut()" class="signOutBtn">Sign Out</button>
            </li>
            <li>
                <button class="navBtn" ng-click="home.resultFound = false" ui-sref="home"><i class="fa fa-home" aria-hidden="true"></i>&nbspHOME</button>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="mainContainer">
        <div ng-show="home.resultFound" id="navId" class="leftNav">
            <button ui-sref="home.base" ui-sref-active="active" ng-click="home.mobileNav()" class="baseBtn leftNavBtn">Base</button>
            <button ui-sref="home.affiliations" ui-sref-active="active" ng-click="home.mobileNav()" class="affiliationsBtn leftNavBtn">Affiliations</button>
            <button ui-sref="home.addresses" ui-sref-active="active" ng-click="home.mobileNav()" class="addressesBtn leftNavBtn">Addresses</button>
            <button ui-sref="home.specialties" ui-sref-active="active" ng-click="home.mobileNav()" class="specialtiesBtn leftNavBtn">Specialties</button>
            <button ui-sref="home.taxonomies" ui-sref-active="active" ng-click="home.mobileNav()" class="taxonomiesBtn leftNavBtn">Taxonomies</button>
            <button ui-sref="home.licenses" ui-sref-active="active" ng-click="home.mobileNav()" class="licensesBtn leftNavBtn">Licenses</button>
            <button ui-sref="home.notes" ui-sref-active="active" ng-click="home.mobileNav()" class="notesBtn leftNavBtn">Notes</button>
            <button ui-sref="home.submit" ui-sref-active="active" ng-click="home.mobileNav()" id="submitBtn" class="leftNavBtn">Submit</button>
        </div>
        <div class="contentContainer">
            <div ng-hide="!home.dataloading" class="loadingDiv">
                <p>L</p><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                <p>ADING...</p>
            </div>
            <div ng-show="!home.resultFound" class="welcomeContainer">
                <h1>Welcome to </h1>
                <p class="welcomeLogo">- Doc<i class="fa fa-user-md" aria-hidden="true"></i>Dish -</p>
            </div>
            <div ng-show="!home.resultFound"  class="homeMisson">
              <h1>Instructions</h1>
              <p>Lorem ipsum dolor sit amet, ante ipsum vitae in vestibulum non malesuada. Pharetra venenatis gravida, condimentum sed risus, tortor nunc, eros ut volutpat sollicitudin sed amet integer, tempor volutpat tempor. Semper dui, nec eleifend porta mollis, et tellus ac quam non, porttitor nec volutpat mauris, tincidunt sed litora non nonummy. Wisi morbi torquent cursus magna risus diam, tristique nulla, semper justo quam ultricies cras donec, quisque scelerisque at orci ac fringilla, enim ligula quibusdam amet libero etiam euismod. Vehicula duis velit mauris eos placerat, mauris est, a fermentum turpis eget risus dui nunc, eu mi ornare turpis ut. A sagittis. Eu aliquam perferendis sodales non. Consectetuer nisl malesuada aliquam. Mattis nostra phasellus arcu neque vivamus, integer tempor sed nulla libero primis aliquet, maecenas aenean consectetuer eros sem.</p>
            </div>
              <div class="subMenuContainer">
                <ul class="tabList">
        <li  ng-repeat="item in home.searchItems" class="tabItem" ng-class="{'active': item.id == home.selected}" ng-click="home.select(item.id)">{{item.title}}</li>
                 </ul>
                <form ng-show="home.selected === 'item1'" ng-submit="home.runSearch()">
                    <label for="NPI Search">Search by NPI:</label>
                    <ul class="searchContainer">
                        <li>
                            <input type="text" ng-model="home.npi" placeholder="NPI">
                        </li>
                        <li>
                            <button>Search</button>
                        </li>
                    </ul>
                </form>
                <form ng-show="home.selected === 'item2'" ng-submit="home.nameSearch()">
                    <label for="name Search">Search by name:</label>
                    <ul class="searchContainer">
                        <li>
                            <input type="text" ng-model="home.firstName" placeholder="First Name" required>
                        </li>
                        <li>
                            <input type="text" ng-model="home.lastName" placeholder="Last Name" required>
                        </li>
                        <li>
                            <select ng-model="home.state" name="state">
                              <option value="" selected>Select State</option>
                              <option value="AL">Alabama</option>
                              <option value="AK">Alaska</option>
                              <option value="AZ">Arizona</option>
                              <option value="AR">Arkansas</option>
                              <option value="CA">California</option>
                              <option value="CO">Colorado</option>
                              <option value="CT">Connecticut</option>
                              <option value="DE">Delaware</option>
                              <option value="DC">District of Columbia</option>
                              <option value="FL">Florida</option>
                              <option value="GA">Georgia</option>
                              <option value="HI">Hawaii</option>
                              <option value="ID">Idaho</option>
                              <option value="IL">Illinois</option>
                              <option value="IN">Indiana</option>
                              <option value="IA">Iowa</option>
                              <option value="KS">Kansas</option>
                              <option value="KY">Kentucky</option>
                              <option value="LA">Louisiana</option>
                              <option value="ME">Maine</option>
                              <option value="MD">Maryland</option>
                              <option value="MA">Massachusetts</option>
                              <option value="MI">Michigan</option>
                              <option value="MN">Minnesota</option>
                              <option value="MS">Mississippi</option>
                              <option value="MO">Missouri</option>
                              <option value="MT">Montana</option>
                              <option value="NE">Nebraska</option>
                              <option value="NV">Nevada</option>
                              <option value="NH">New Hampshire</option>
                              <option value="NJ">New Jersey</option>
                              <option value="NM">New Mexico</option>
                              <option value="NY">New York</option>
                              <option value="NC">North Carolina</option>
                              <option value="ND">North Dakota</option>
                              <option value="OH">Ohio</option>
                              <option value="OK">Oklahoma</option>
                              <option value="OR">Oregon</option>
                              <option value="PA">Pennsylvania</option>
                              <option value="RI">Rhode Island</option>
                              <option value="SC">South Carolina</option>
                              <option value="SD">South Dakota</option>
                              <option value="TN">Tennessee</option>
                              <option value="TX">Texas</option>
                              <option value="UT">Utah</option>
                              <option value="VT">Vermont</option>
                              <option value="VA">Virginia</option>
                              <option value="WA">Washington</option>
                              <option value="WV">West Virginia</option>
                              <option value="WI">Wisconsin</option>
                              <option value="WY">Wyoming</option>
                            </select>
                        </li>
                        <li>
                            <button>Search</button>
                        </li>
                    </ul>
                </form>
                <form ng-show="home.selected == 'item3'"  ng-submit="home.runSearch()">
                    <label for="NPI Search">Search by Organization:</label>
                    <ul class="searchContainer">
                        <li>
                            <input type="text" ng-model="home.npi" placeholder="Organization">
                        </li>
                        <li>
                            <button>Search</button>
                        </li>
                    </ul>
                </form>
            </div>
            <div>
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</main>
