<header>
  <nav>
    <ul>
      <li ng-click="home.resultFound=false" ui-sref="home">HOME</li>
    </ul>
  </nav>
</header>
<main>
  <nav ng-show="home.resultFound" class="leftNav">
    <button ui-sref="home.base" class="baseBtn leftNavBtn">Base</button>
    <button ui-sref="home.affiliations" class="affiliationsBtn leftNavBtn">Affiliations</button>
    <button ui-sref="home.addresses" class="addressesBtn leftNavBtn">Addresses</button>
    <button ui-sref="home.specialties" class="specialtiesBtn leftNavBtn">Specialties</button>
    <button ui-sref="home.taxonomies" class="taxonomiesBtn leftNavBtn">Taxonomies</button>
    <button ui-sref="home.licenses" class="licensesBtn leftNavBtn">Licenses</button>
    <button ui-sref="home.notes" class="notesBtn leftNavBtn">Notes</button>
    <button ui-sref="home.submit" class="submitBtn leftNavBtn">Submit</button>
  </nav>
  <div class="container">
    <div ng-show="!home.resultFound" class="searchFieldsContainer">
      <form ng-submit="home.runSearch()">
        <label for="NPI Search">Search By NPI ID: </label>
        <input class="searchField" type="text" ng-model="home.npiId" placeholder="NPI ID">
        <button>Search</button>
      </form>
    </div>
    <ui-view></ui-view>
  </div>
</main>
