<section class="licensesSection">
  <button ng-show="home.editing !== 'licenses'" ng-click="home.editing = 'licenses'" class="editBtn">EDIT</button>
  <button ng-show="home.editing === 'licenses'" ng-click="home.editing = null" class="saveBtn">SAVE</button>
  <h1 class="sectionTitle">Licenses</h1>
  <div ng-show="home.editing !== 'licenses'" class="licensesInfo sectionInfo">
    <ul>
      <li ng-repeat="license in home.result.licenses">
        <h1>License {{home.result.licenses.indexOf(license) + 1}}</h1>
        <p>Code: {{license.code}}</p>
        <p>State: {{license.state}}</p>
        <p>Status: {{license.status}}</p>
        <p>Type: {{license.type}}</p>
      </li>
    </ul>
  </div>
  <form ng-show="home.editing === 'licenses'">
    <fieldset>
      <legend>License Info</legend>
    </fieldset>
  </form>
</section>
