<section class="licensesSection">
  <div class="titleContainer">
    <button ng-show="home.editing !== 'licenses'" ng-click="home.editing = 'licenses'" class="editBtn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbspEDIT</button>
    <button ng-show="home.editing === 'licenses'" ng-click="home.editing = null" class="saveBtn"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbspSAVE</button>
  <h1 class="pageTitle">{{home.result.title}}<h1>
  <h3><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp{{home.result.addresses[0].address_1}}<h3>
  <h3 class="titleAddress">&nbsp &nbsp{{home.result.addresses[0].city}}, {{home.result.addresses[0].state}}<h3>
  <h3 class="titleNpi"><i class="fa fa-crosshairs" aria-hidden="true"></i>&nbspNPI: {{home.result.number}}<h3>
  </div>
  <h1 class="sectionTitle">Licenses</h1>
  <div ng-show="home.editing !== 'licenses'" class="licensesInfo sectionInfo">
    <ul>
      <li ng-repeat="license in home.result.licenses">
        <h1>License {{home.result.licenses.indexOf(license) + 1}}</h1>
        <p ng-show="license.code">Code: {{license.code}}</p>
        <p ng-show="license.state">State: {{license.state}}</p>
        <p ng-show="license.status">Status: {{license.status}}</p>
        <p ng-show="license.type">Type: {{license.type}}</p>
      </li>
    </ul>
  </div>
  <form ng-show="home.editing === 'licenses'">
    <fieldset ng-repeat="license in home.result.licenses">
      <legend>License {{home.result.licenses.indexOf(license) + 1}}</legend>
      <p ng-show="license.code">Code: {{license.code}}</p>
      <p ng-show="license.state">State: {{license.state}}</p>
      <p ng-show="license.status">Status: {{license.status}}</p>
      <p ng-show="license.type">Type: {{license.type}}</p>
    </fieldset>
  </form>
</section>
