<section class="specialtiesSection">
  <div class="titleContainer">
    <button ng-show="home.editing !== 'specialties'" ng-click="home.editing = 'specialties'" class="editBtn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbspEDIT</button>
    <button ng-show="home.editing === 'specialties'" ng-click="home.editing = null" class="saveBtn"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbspSAVE</button>
  <h1 class="pageTitle">{{home.result.title}}<h1>
  <h3><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp{{home.result.addresses[0].address_1}}<h3>
  <h3 class="titleAddress">&nbsp &nbsp{{home.result.addresses[0].city}}, {{home.result.addresses[0].state}}<h3>
  <h3 class="titleNpi"><i class="fa fa-crosshairs" aria-hidden="true"></i>&nbspNPI: {{home.result.number}}<h3>
  </div>
    <h1 class="sectionTitle">Specialties</h1>
    <div ng-show="home.editing !== 'specialties'" class="specialtiesInfo sectionInfo">
        <ul>
            <li ng-repeat="specialty in home.result.specialties">
                <h1>Specialty {{home.result.specialties.indexOf(specialty) + 1}}</h1>
                <p>Code: {{specialty.code}}</p>
                <p>Description: {{specialty.decription}}</p>
            </li>
        </ul>
    </div>
    <form ng-show="home.editing === 'specialties'">
        <fieldset>
            <legend>Specialty Edit</legend>
        </fieldset>
    </form>
</section>
