<section class="taxonomiesSection">
  <div class="titleContainer">
    <button ng-show="home.editing !== 'taxonomies'" ng-click="home.editing = ''" class="editBtn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbspEDIT</button>
    <button ng-show="home.editing === 'taxonomies'" ng-click="home.editing = null" class="saveBtn"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbspSAVE</button>
  <h1>{{home.result.title}}<h1>
  <h3><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp{{home.result.addresses[0].address_1}}<h3>
  <h3 class="titleAddress">&nbsp &nbsp{{home.result.addresses[0].city}}, {{home.result.addresses[0].state}}<h3>
  <h3 class="titleNpi"><i class="fa fa-crosshairs" aria-hidden="true"></i>&nbspNPI: {{home.result.number}}<h3>
  </div>
  <h1 class="sectionTitle">Taxonomies</h1>
  <div ng-show="home.editing !== 'taxonomies'" class="taxonomiesInfo sectionInfo">
    <ul>
      <li ng-repeat="taxonomy in home.result.taxonomy_licenses">
        <h1>Taxonomy {{home.result.taxonomy_licenses.indexOf(taxonomy) + 1}}</h1>
        <p>Code: {{taxonomy.taxonomy_code}}</p>
        <p>License: {{taxonomy.license_code}}</p>
      </li>
    </ul>
  </div>
  <form ng-show="home.editing === 'taxonomies'">
    <fieldset>
      <legend>Taxonomy Edit</legend>
    </fieldset>
  </form>
</section>
